<a href="https://colab.research.google.com/github/yeah050607/python-basic/blob/main/1%EC%A3%BC%EC%B0%A8_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "철수"
age = 12

print("이름:", name)
# print("나이:", age)
print("이름:", name, "나이:", age)

이름: 철수
이름: 철수 나이: 12

- print()는 출력함수임
- 주로 결과를 화면에 출력하기 위해, 프로그램 실행 과정을 중간중간 확인하기 위해 사용함
- 쉼표(,)를 사용하여 여러 값을 한 번에 출력할 수 있음
- 출력 형식을 지정할 수 있음

# 셀 나누기: Ctrl + M + -
# 셀 합치기: shift로 셀 다중 선택 -> 마우스 우클릭 -> 셀 합치기
a=1
b=2


print("합:", a+b)

# 셀 나누기: Ctrl + M + -
# 셀 합치기: shift로 셀 다중 선택 -> 마우스 우클릭 -> 셀 합치기
a=1
b=2

print("합:", a+b)

**(Markdown) 두 수를 곱한 결과를 출력한다**

In [ ]:
# 세미콜론(;)은 여러 명령문을 한 줄에 나란히 쓸 수 있게 하는 구분 기호
# x=7을 실행하고 이어서 y=8도 실행하라는 뜻
x = 7; y = 8
print(x*y)

x=7
y=8

56

In [ ]:
x = 'hi'
print(x)

print(hi)

 x = "7"
 print(x)

7

In [ ]:
print(Hello, world)
print("Hello, world")

Hello, world

In [ ]:
8

8

In [ ]:
0

0